html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: '微软雅黑';
}
.geciweizhi{
  width: 100%;
  height: 100%;
  background-image: url("../../img/musicImg/歌词背景.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.mz{
  width: 300px;
  text-align: center;
  margin: 0px auto;
  padding-top: 20px;
}
.geci{
overflow-y: auto;
height: 500px;
width: 300px;
margin: 40px auto;
/* padding-top: 40px; */
}
.geci::-webkit-scrollbar{
  display: none;
}
.gecidiv{
  width: 300px;
  height: 40px;
 text-align: center;
 color: white;
}
.audio {
  width: 100%;
  height: 100px;
  background-color: rgb(17,90,160);
  position: fixed;
  bottom: 0;
}
.jindu {
  width: 100%;
  height: 3px;
  background-color: #909399 ;
  cursor: pointer;
}
.jindutiao {
  width: 0%;
  height: 3px;
  background-color: #409eff;
  cursor: pointer;
}
/* .yaun{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: aqua;
    position: relative;
    left: 99.5%;
    cursor: pointer;
    top: -3px;
} */

.controls {
  width: 80%;
  line-height: 100px;
  margin: 0 auto;
}
.zuo {
  float: left;
  width: 100px;
  color: white;
}
.bofan {
  float: left;
  position: relative;
  left: 500px;
}
.left,
.play,
.right {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.you {
  float: right;
}
